# Temp files
*/Debug
build
*/build
~
*/~
*/*.*~
*.m~
utils/log_analyzer/build-log_analyzer-Desktop_Qt_5_5_1_GCC_64bit-Debug/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
#*.lai
#*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app
