# Temp files
*/Debug
build
*/build
/control/hummingbird/quad_ctrl/build
*~
pc/gui/*~
*/~
*/*.*~
*.m~
utils/log_analyzer/build-log_analyzer-Desktop_Qt_5_5_1_GCC_64bit-Debug/
pc/gui/CMakeLists.txt.user

# Doxygen
docs/doxygen/html/
docs/doxygen/latex

# LCM
pc/src/comm/lcmtypes/c
pc/src/comm/lcmtypes/cpp
pc/src/comm/lcmtypes/java
pc/src/comm/lcmtypes/python

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
#*.lai
#*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Vim
tags
*/tags
*.swp
*/*.swp
