<launch>
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
	  <!-- args="$(find fallrisk_octomap)/maps/simulation.bt"-->

        <param name="resolution" value="0.05" />

        <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
        <param name="frame_id" type="string" value="/world_frame" />

        <!-- maximum range to integrate (speedup!) -->
        <param name="max_sensor_range" value="3.0" />

	      <!-- filter the ground plane -->
	     <param name="filter_ground" value="false" />

        <!-- data source to integrate (PointCloud2) -->
        <remap from="cloud_in" to="/vrep/quad_3d_scan" />
        <!-- remap from="projected_map" to="/map" /-->
    </node>
</launch>
