name: Main

on:
  push:
    branches: [ main, devel ]
  pull_request:
    branches: [ main ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04, ubuntu-22.04]
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y libgl1-mesa-dev libglfw3-dev libcairo2-dev libtbb-dev libasio-dev libboost-all-dev libgsl-dev libeigen3-dev libtbb-dev libopencv-dev libyaml-cpp-dev
    - name: Update submodules
      run: git submodule update --init --recursive      
    - name: Create Build Environment
      run: cmake -E make_directory ${{runner.workspace}}/build
    - name: Configure CMake
      shell: bash
      working-directory: ${{runner.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE
    - name: Build
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: cmake --build . --config $BUILD_TYPE

  test:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04, ubuntu-22.04]
    steps:
        - uses: actions/checkout@v2
        - name: Install dependencies
          run: sudo apt-get update && sudo apt-get install -y libgl1-mesa-dev libglfw3-dev libcairo2-dev libtbb-dev libasio-dev libboost-all-dev libgsl-dev libeigen3-dev libtbb-dev libopencv-dev libyaml-cpp-dev
        - name: Update submodules
          run: git submodule update --init --recursive      
        - name: Create Build Environment
          run: cmake -E make_directory ${{runner.workspace}}/build
        - name: Configure CMake
          shell: bash
          working-directory: ${{runner.workspace}}/build
          run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DBUILD_TESTING=ON
        - name: Build
          working-directory: ${{runner.workspace}}/build
          shell: bash
          run: cmake --build . --config $BUILD_TYPE
        - name: Build
          working-directory: ${{runner.workspace}}/build
          shell: bash
          run: cmake --build . --config $BUILD_TYPE
        - name: Test
          working-directory: ${{runner.workspace}}/build
          shell: bash
          run: ctest
